.todoList {
  background-color: #dc93ac;
  padding: 5px 10px;
  margin: 10px;
  box-shadow: 2px 3px #eee5ea;
 
}
.todoList button{
    display: inline-block;
    margin-left: 10px;
}
.todoInput input {
  display: inline-block;
  height: 40px;
  margin: 3px;
  font-size: 30px;
  border-radius: 10px;
}
.todoInput button {
  display: inline-block;
  height: 40px;
  margin: 3px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #e6cb24;
}
.todo{
    display: inline-block;
}
